# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dolphin stuff
.directory

# Vim swapfiles
.*.swp

# KStars Lite Android libraries
build_kstarslite/android_libs/*
build_kstarslite/android_libs_src/libnova/build/*

CMakeLists.txt.user