# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dolphin stuff
.directory
.cmake

# Visual Studio
.vs
CMakeSettings.json

# Vim swapfiles
.*.swp

# KStars Lite Android libraries
build_kstarslite/android_libs/*
build_kstarslite/android_libs_src/libnova/build/*

#QML compiled files
*.qmlc

CMakeLists.txt.user

build
moc_*.cpp
kstars/ui_*.h
kstars/version.h
config-kstars.h
nova-prefix/
raw-prefix/
cfitsio-prefix/
indi-prefix/
Makefile
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
ecm_uninstall.cmake
cmake_uninstall.cmake
CMakeCache.txt
install_manifest.txt
*_automoc.cpp
android/export/
android/indi/
android/kf5/
android/kstars-deployment.json
android/kstars-deployment.json.in
android/kstars_build_apk/
/AndroidManifest.xml
android/3rdparty/libraw/DisabledFeatures.txt
android/3rdparty/libraw/libraw.lsm
android/3rdparty/libraw/libraw.pc
android/3rdparty/libraw/libraw_config.h
android/3rdparty/libraw/libraw_r.pc
/build.gradle
kstars/Options.cpp
kstars/Options.h
kstars/htmesh/config-htmesh.h
kstars/kstars
kstars/*.moc_parameters
kstars/*.moc
kstars/qrc_kstars.cpp
kstars/data/kstars.qrc.depends
Tests/auxiliary/testcachingdms
Tests/auxiliary/testcsvparser
Tests/auxiliary/testdms
Tests/auxiliary/testfwparser
Tests/skyobjects/test_skypoint
doc/index.cache.bz2

# Generated source/header files
kstars/*adaptor.cpp
kstars/*adaptor.h
unitybuild_*.cpp
/compile_commands.json
.clangd
.cache
.vscode
.idea
/cmake-build*
