# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dolphin stuff
.directory

# Vim swapfiles
.*.swp

CMakeLists.txt.user

# KDevelop 4 stuff
kstars.kdev4
build

