*.o
*.Po
*.Plo
*.lo
*.so*
*.la*
*.a
*.libs*
*.swp
*~

.cproject
.project

lt~obsolete.m4
ltsugar.m4
libtool.m4
ltoptions.m4
ltversion.m4

Makefile
Makefile.in

configure
config.*

compile

autom4te*
missing
stamp-h1
libtool
ltmain.sh
install-sh
aclocal.m4
depcomp

examples/asteroid
examples/comet
examples/lunar
examples/mars
examples/sun
examples/transforms

lntest/libnovaconfig
lntest/lntest

doxyfile
doc/man/*
doc/html/*
doc/doxygen_sqlite3.db

tools/elp82
