# KDE Config File
[Desktop Entry]
Type=Application
Exec=kstars -caption "%c" %i %m  
Icon=kstars
MiniIcon=kstars
DocPath=kstars/index.html
Comment=Desktop Planetarium
Comment[ar]=مرصد سطح المكتب
Comment[be]=Кампутарны плянэтарый
Comment[bg]=Планетариум за рабоно място
Comment[bs]=Planetarium na desktopu
Comment[da]=Planetarieprogram
Comment[de]=Das Planetarium für den Schreibtisch
Comment[el]=Πλανητάριο για την Επιφάνεια εργασίας
Comment[eo]=Tabula stelobservejo
Comment[et]=Töölaua planetaarium
Comment[eu]=Mahaiganeko Planetarioa
Comment[fi]=Työpöytäplanetaario
Comment[he]=פלנטריום שולחני
Comment[ja]=デスクトッププラネタリウム
Comment[lt]=Darbastalio planetariumas
Comment[pt_BR]=Planetário do Ambiente de trabalho
Comment[ro]=Planetariu de ecran
Comment[ru]=Настольный планетарий
Comment[sk]=Planetárium na vašej ploche
Comment[sv]=Skrivbordsplanetarium
Comment[uk]=Планетарій для стільниці
Comment[xx]=xx
Comment[zh_CN]=桌面天文馆
Terminal=0
Name=KStars
Name[ar]=نجوم ك
Name[be]=K Зоркі
Name[eo]=Steloj
Name[pt_BR]=Estrelas
Name[sv]=Kstars
Name[th]=ดวงดาว - K
Name[ven]=Vhadivhalea vha K
Name[xx]=xx
X-DCOP-ServiceType=Multi
