# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kstars -caption "%c" %i
Icon=kstars
DocPath=kstars/index.html
Comment=Desktop Planetarium
Comment[af]=Werkskerm Planetarium
Comment[ar]=قبة سماوية لسطح المكتب
Comment[be]=Настольны планетарыум
Comment[br]=Planetarium a vurev
Comment[ca]=Planetari per a l'escriptori
Comment[cs]=Planetárium na vaší obrazovce
Comment[cy]=Planetariwm Penbwrdd
Comment[da]=Planetarieprogram
Comment[de]=Das Planetarium für den Schreibtisch
Comment[el]=Πλανητάριο επιφάνειας εργασίας
Comment[es]=Planetario para el escritorio
Comment[et]=Töölaua planetaarium
Comment[eu]=Mahaigaineko planetarioa
Comment[fa]=رومیزی آسمان‌نما
Comment[fi]=Työpöytäplanetaario
Comment[fr]=Planétarium
Comment[ga]=Pláinéadlann Deisce
Comment[gl]=Planetario
Comment[he]=פלנטריום שולחני
Comment[hr]=Planetarij za radnu površinu
Comment[hu]=Munkaasztali planetárium
Comment[is]=Skjáborðsstjörnuver
Comment[it]=Planetario per il desktop
Comment[ja]=デスクトッププラネタリウム
Comment[ka]=სამაგიდო პლანეტარიუმი
Comment[km]=សំណាក​ចក្រវាល​ផ្ទៃ​តុ
Comment[lt]=Darbastalio planetariumas
Comment[lv]=Darbvirsmas Planetārijs
Comment[mk]=Планетариум на работна површина
Comment[ms]=Planetarium Ruang Kerja
Comment[nb]=Skrivebordsplanetarium
Comment[nds]=Planetarium för den Schriefdisch
Comment[ne]=डेस्कटप प्लान्टरियम
Comment[nl]=Desktop-planetarium
Comment[nn]=Skrivebordsplanetarium
Comment[pl]=Planetarium na pulpicie
Comment[pt]=Planetário
Comment[pt_BR]=Planetário do Ambiente de trabalho
Comment[ru]=Настольный планетарий
Comment[se]=Čállenbeavdeplánetaria
Comment[sl]=Namizni planetarij
Comment[sr]=Планетаријум на радној површини
Comment[sr@latin]=Planetarijum na radnoj površini
Comment[sv]=Skrivbordsplanetarium
Comment[ta]= பணிமேடை கோளரங்கம்
Comment[tg]=Планетариуми Мизи Корӣ
Comment[tr]=Masaüstünde Yıldızlar
Comment[uk]=Настільний планетарій
Comment[x-test]=xxDesktop Planetariumxx
Comment[xh]=Indlu ye Desktop
Comment[zh_TW]=桌面星象儀
Terminal=false
Name=KStars
Name[af]=K-sterre
Name[ar]=نجوم ك
Name[cy]=KSer
Name[hr]=KZvijezde
Name[is]=KStjörnur
Name[ne]=केडीई तारा
Name[pa]=ਕੇ-ਤਾਰੇ
Name[pl]=Gwiazdy
Name[pt_BR]=Estrelas
Name[sv]=Kstars
Name[ta]=கேஸ்டார்ஸ்
Name[x-test]=xxKStarsxx
GenericName=Desktop Planetarium
GenericName[af]=Werkskerm Planetarium
GenericName[ar]=نموذج النظام الشمسي لسطح المكتب
GenericName[be]=Настольны планетарыум
GenericName[br]=Planetarium a vurev
GenericName[ca]=Planetari per a l'escriptori
GenericName[cs]=Planetárium na vaší obrazovce
GenericName[cy]=Planetariwm Penbwrdd
GenericName[da]=Planetarieprogram
GenericName[de]=Elektronisches Planetarium
GenericName[el]=Πλανητάριο επιφάνειας εργασίας
GenericName[es]=Planetario para el escritorio
GenericName[et]=Töölaua planetaarium
GenericName[eu]=Mahaigaineko planetarioa
GenericName[fa]=رومیزی آسمان‌نما
GenericName[fi]=Työpöytäplanetaario
GenericName[fr]=Planétarium
GenericName[ga]=Pláinéadlann Deisce
GenericName[gl]=Planetario
GenericName[he]=פלנטריום שולחני
GenericName[hr]=Planetarij na radnoj površini
GenericName[hu]=Planetárium
GenericName[is]=Skjáborðsstjörnuver
GenericName[it]=Planetario per il desktop
GenericName[ja]=デスクトッププラネタリウム
GenericName[ka]=სამაგიდო პლანეტარიუმი
GenericName[km]=សំណាក​ចក្រវាល​ផ្ទៃ​តុ
GenericName[lt]=Darbastalio planetariumas
GenericName[mk]=Планетариум на раб. површина
GenericName[ms]=Planetarium Desktop
GenericName[nb]=Skrivebordsplanetarium
GenericName[nds]=Schriefdisch-Planetarium
GenericName[ne]=डेस्कटप प्लान्टरियम
GenericName[nl]=Bureaublad-planetarium
GenericName[nn]=Skrivebordsplanetarium
GenericName[pl]=Planetarium na biurku
GenericName[pt]=Planetário
GenericName[pt_BR]=Planetário do Ambiente de trabalho
GenericName[ru]=Настольный планетарий
GenericName[sl]=Namizni planetarij
GenericName[sr]=Планетаријум на радној површиниџ
GenericName[sr@latin]=Planetarijum na radnoj površinidž
GenericName[sv]=Skrivbordsplanetarium
GenericName[ta]=பணிமேடை கோளரங்கம்
GenericName[tg]=Планетариуми Мизи Корӣ
GenericName[tr]=Masaüstü Yıldız Evi
GenericName[uk]=Настільний планетарій
GenericName[x-test]=xxDesktop Planetariumxx
GenericName[zh_TW]=桌面星象儀
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Education;Science;Astronomy;
