# KDE Config File
[Desktop Entry]
Type=Application
Exec=kstars %U
Icon=kstars
X-DocPath=kstars/index.html
Comment=Desktop Planetarium
Terminal=false
Name=KStars
GenericName=Desktop Planetarium
X-DBUS-StartupType=Multi
MimeType=image/fits;
Categories=Qt;KDE;Education;Science;Astronomy;
X-DBUS-ServiceName=org.kde.kstars
