Source: kstars-bleeding
Section: kde
Priority: optional
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               extra-cmake-modules (>= 1.7.0),
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-multimedia-dev,
               qt6-positioning-dev,
               libqt6svg6-dev,
               qt6-websockets-dev,
               qt6-graphs-dev,
               qtkeychain-qt6-dev,
               libqt6sql6-sqlite,
               kdoctools-dev | libkf6doctools-dev,
               libkf6config-dev,
               libkf6guiaddons-dev,
               libkf6i18n-dev,
               libkf6newstuff-dev,
               libkf6notifications-dev,
               libkf6xmlgui-dev,
               libkf6plotting-dev,
               libkf6crash-dev,
               libkf6notifyconfig-dev,
               libeigen3-dev,
               zlib1g-dev,
               libcfitsio3-dev | libcfitsio-dev,
               libnova-dev,
               libindi-dev (>= 1.6.1),
               indi-bin (>= 1.6.1),
               wcslib-dev,
               libraw-dev,
               libgsl-dev,
               phonon4qt6-backend-vlc,
               libsecret-1-dev,
               libstellarsolver-dev,
               libxisf-dev,
               libcurl4-gnutls-dev,
               libopencv-dev,
               libopencv-imgproc-dev,
               libopencv-calib3d-dev,
               libopencv-imgcodecs-dev,
               libopencv-photo-dev,
               libopencv-video-dev
Standards-Version: 3.9.3
Homepage: http://edu.kde.org/

Package: kstars-bleeding
Architecture: any
Section: science
conflicts: kstars
replaces: kstars
recommends: xplanet, xplanet-images
Depends: ${shlibs:Depends}, ${misc:Depends}, kstars-bleeding-data (>= ${source:Version}), kstars-bleeding-dbg (= ${binary:Version}), kded6, kinit, libindi1, indi-bin, breeze-icon-theme, libqt6sql6-sqlite, qml6-module-qtquick-controls, indi-3rdparty-drivers
Description: desktop planetarium for KDE
 KStars is a desktop planetarium for KDE, depicting an accurate graphical
 simulation of the night sky, from any location on Earth, at any date and time.
 The display includes 130,000 stars, 13,000 deep-sky objects, all 8 planets,
 the Sun and Moon, and thousands of comets and asteroids.  It includes tools
 for astronomical calculations and can control telescopes and cameras.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-data
Architecture: all
Multi-Arch: allowed
Section: science
conflicts: kstars-data
replaces: kstars-data
Depends: ${misc:Depends}
Description: data files for KStars desktop planetarium
 This package contains architecture-independent data files for KStars,
 the graphical desktop planetarium for KDE, including star catalogues and
 astronomical images.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kstars-bleeding (= ${binary:Version}), ${misc:Depends}
Description: debug information for the desktop planetarium for KDE
 This package contains debugging files used to investigate problems with the
 desktop planetarium for KDE.
