#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = optimize=-lto

l10npkgs_firstversion_ok := 4:17.03.90-0~

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk
include /usr/share/pkg-kde-tools/qt-kde-team/2/l10n-packages.mk

override_dh_strip:
	dh_strip --dbg-package=kstars-bleeding-dbg
	
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=Off

.PHONY: override_dh_auto_test override_dh_auto_configure
