[Desktop Entry]
Name=Kirigami Gallery

Encoding=UTF-8
Type=Application
Exec=kpackagelauncherqml -a org.kde.kirigami.gallery
Icon=preferences-desktop-theme
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.kirigami.gallery
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ExampleApp.qml
